################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/Domain/MyRecipe.Domain/obj
/src/Hosts/MyRecipe.Api/obj
/src/Hosts/MyRecipe.WebUI/obj
/src/Domain/MyRecipe.Domain/bin/
/src/Hosts/MyRecipe.Api/bin/
/src/Hosts/MyRecipe.WebUI/bin/
/src/.idea/.idea.MyRecipe/.idea
/src/Infrastructure/MyRecipe.Infrastructure/obj
/src/Infrastructure/MyRecipe.Infrastructure/bin
/src/Infrastructure/MyRecipe.Migrator/bin
/src/Infrastructure/MyRecipe.Migrator/obj
/src/Contracts/MyRecipe.Contracts/obj
/src/Contracts/MyRecipe.Contracts/bin
/src/Application/MyRecipe.Handlers/bin
/src/Application/MyRecipe.Handlers/obj
/src/Application/AppServices/bin
/src/Application/AppServices/obj
/src/Infrastructure/MyRecipe.DataAccess/bin
/src/Infrastructure/MyRecipe.DataAccess/obj
/src/Common/MyRecipe.Common.ComponentRegistrar/obj
/src/Common/MyRecipe.Common.ComponentRegistrar/bin
/src/Logging/MyRecipe.Logging/obj
/src/Logging/MyRecipe.Logging/bin
/src/MyRecipeLogging.Infrastructure/obj
/src/MyRecipeLogging.Infrastructure/bin
/src/Domain/MyRecipeLogging.Domain/bin
/src/Domain/MyRecipeLogging.Domain/obj
/src/Infrastructure/MyRecipeLogging.Infrastructure/obj
/src/Infrastructure/MyRecipeLogging.Infrastructure/bin
/src/MyRecipeLogging.Contracts/bin
/src/MyRecipeLogging.Contracts/obj
/src/Contracts/MyRecipeLogging.Contracts/obj
/src/Contracts/MyRecipeLogging.Contracts/bin
/src/Application/MyRecipe.AppServices/bin
/src/Application/MyRecipe.AppServices/obj
/src/Contracts/MyRecipe.Handlers.Contracts/bin
/src/Contracts/MyRecipe.Handlers.Contracts/obj
/src/Domain/MyRecipeFiles.Domain/bin
/src/Domain/MyRecipeFiles.Domain/obj
/src/Infrastructure/MyRecipeFiles.Infrastructure/bin
/src/Infrastructure/MyRecipeFiles.Infrastructure/obj
/src/Application/MyRecipeFiles.Handlers/bin
/src/Application/MyRecipeFiles.Handlers/obj
/src/Contracts/MyRecipeFiles.Handlers.Contracts/bin
/src/Contracts/MyRecipeFiles.Handlers.Contracts/obj
/src/Application/MyRecipeFiles.AppServices/bin
/src/Application/MyRecipeFiles.AppServices/obj
/src/ComponentRegistrar/MyRecipe.ComponentRegistrar/obj
/src/ComponentRegistrar/MyRecipe.ComponentRegistrar/bin
/src/ComponentRegistrar/MyRecipeLogging.ComponentRegistrar/obj
/src/ComponentRegistrar/MyRecipeLogging.ComponentRegistrar/bin
/src/ComponentRegistrar/MyRecipeFiles.ComponentRegistrar/bin
/src/ComponentRegistrar/MyRecipeFiles.ComponentRegistrar/obj
